/* body {
	color: var(--color-text-main, red);
}

.site {
	padding: var(--spacing-site, 2em);

	@at-root #{&}-content {
		max-width: 60rem;
		margin: 0 auto;
	}
}

body.login {
	height: 100vh;
	overflow: hidden;
	padding-top: 0;
	display: flex;

	.site {
		flex: 1 0 auto;
		background: #EEE;
		border: 4rem solid #FFF;
		display: flex;
		align-items: center;
		justify-content: space-between;

		#{&}-header {
			display: none;
		}
	}
} */
