.galerry-section {}

.galerry-section-photos {
    margin-bottom: 3rem;
    /* // margin-top: 1rem;
    // width: 60%;
    // margin: auto; */
}

.gallery-one {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 250px 150px;
    grid-auto-flow: dense;

    .item {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        @media (min-width: 400px) {
            &:first-child {
                grid-area: 1 / 1 / span 2 / span 2;
            }

            &:nth-child(3n) {
                grid-column: span 2;
            }

        }

    }
}



.grid-container-photos {
    /* // background: var(--dark);
    // padding: 1.5rem;
    // padding-bottom: 2.5rem; */
    border-radius: 3px;
    display: grid;
    grid-gap: 1.3rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 250px 150px;
    grid-auto-flow: dense;

    @media screen and (max-width: 400px) {
        padding: 0;
        grid-gap: 0.3rem;
    }

    & .gallery-item {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2px;
            transition: transform 1.5s;
            box-shadow: var(--default-box-shadow);

            &:hover {
                box-shadow: var(--blue-box-shadow);
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        @media (min-width: 400px) {

            &:first-child {
                grid-area: 1 / 1 / span 2 / span 2;
            }

            &:nth-child(3n) {
                grid-column: span 2;
            }
        }


    }

    @media (max-width: 400px) {
        & .gallery-item {
            img {
                box-shadow: 0 0 2rem 0 rgba(64, 163, 244, .8);

            }
        }
    }
}

   