/* .textarea-container {
    position: relative;
    height: 20px;
    width: 97%;
    margin-left: 1rem;
}

#post {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.post-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: auto;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

div.test {
    position: relative;
    height: 200px;
}

#texttype {
    width: 200px;
    position: absolute;
    bottom: 0;
} */

/* ####################################################################### */


main .main-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* // background: white;
    // border-radius: 5px;
    // box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.3); */
    /* padding: 1rem; */
}


/* ############################################# */
/*main  main-section  main-article-shared-content*/
/*main-article-content-section*/
/* ############################################# */
main .main-article-content-section {
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.3);
}

main .main-article-shared-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main-article-shared-content-header */


/* main-article-comments-section */

/* ################################################################ */

.posts-section {
    width: 100%;
}


.posts-article-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin: auto;
    background: rgb(244, 244, 244);
    /* border-radius: 5px; */
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;

}

.post-image {
    flex: 1 0 10%;
    width: 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}


.post-image:before {
    display: block;
    content: '';
    padding-top: 100%;
}


/* // .l img { */
.post-image .l {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    /* width: 100%;
    height: auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* width: auto; */
    /* height: 100%; */
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-article-shared-content-description {
    flex: 0 0 86%;
}

.main-article-shared-content-description .comment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3rem;
}

/* write-comment */
.write-post {}

main .post {
    font-size: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin: auto;
    background: white;
    /* border-radius: 5px;  */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.post-area-container {
    width: 100%
}

.post-textarea{
    overflow: hidden;
    border: none; 
    /* outline: none; */
    resize: none ; 
    width: 95%;
    /* height: 80px; */
    margin-left: 1rem;
    padding: 0.8rem 0.3rem;
    /* padding-top: 0.8rem ;
    padding-bottom: 0.8rem ; */
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.post-textarea-form-group{
        margin-bottom: 0rem;
        margin-top: 0.5rem;
}


/* ################################################################ */
/* Post display */


.post-content-section {
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.3);
}

.post-content-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main-article-shared-content-header */
.post-content-article-header {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    padding: 1rem;

}

.post-content-article-image {
    width: 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.post-content-article-image:before {
    display: block;
    content: '';
    padding-top: 100%;
}

.post-content-article-image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* width: auto; */
    /* height: 100%; */
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-content-article-image img.l{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto; 
    height: 100%;
    /* width: 100%;
    height: auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-content-article-description {
    margin: 0 1rem;
}

.post-user-info {
    color: rgb(64, 163, 244);
    font-weight: bold;
    font-size: 1.2rem;
}

.post-user-info-span {
    color: black;
}

.post-description {
    color: rgb(192, 192, 192);
}


.post-content{
    padding: 1rem;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}





.post-media img {
    width: 100%;
}





/* main-article-shared-content-footer */

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* width: 90%;
    margin: auto; */
}

.post-left-side-icons-container {
    flex: 0 1 50%;
}

.post-left-side-icons-container ul {
    display: flex;
    justify-content: start;
    align-items: center;
}

.post-left-side-icons-container ul li {
    list-style: none outside;
    padding: 1rem 1rem;
}

.post-right-side-icons-container {
    flex: 0 1 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* text-align: right; */

}

.post-right-side-icons-container div.comment-icon {
    padding: 0 0;
}

.post-right-side-icons-container p {
    padding: 0 1rem;
    font-size: 1.2rem;

}

.post-footer .fas,
.post-footer p {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(192, 192, 192);
}



