
main .main-section {
    display: flex;
    flex-direction: column;
}

/* ############################################# */
/*main  main-section  main-article-shared-content*/
/*main-article-content-section*/
/* ############################################# */
main .main-article-content-section {
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.3);
}

main .main-article-shared-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main-article-shared-content-header */
/* main-article-comments-section */
/* ################################################################ */
.posts-section {
    width: 100%;
}

.posts-article-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin: auto;
    background: rgb(244, 244, 244);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.post-image {
    /* flex: 0 0 7%; */
    width: 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 0.2rem;
}

.post-image:before {
    display: block;
    content: '';
    padding-top: 100%;
}

.post-image .l {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* write-comment */

.post {
    font-size: 1.1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin: auto;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;
    margin-bottom: 2rem;
}

.post-area-container {
    width: 100%
}

.post-textarea{
    overflow: hidden;
    border: none; 
    outline: none;
    resize: none ; 
    width: 90%;
    margin-left: 1rem;
    padding: 0.8rem 0.3rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#post-textarea-form-group{
        margin-bottom: 0rem;
        margin-top: 0.1rem;
}

/* ################################################################ */
/* Post display */

.post-content-section {
    width: 100%;
    border-radius: 5px;
    /* box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.3); */
}

.post-wrapper{
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.post-content-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-content-article-header {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 5px;
    /* box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3); */
    padding: 1rem;
}

.post-content-article-image {
    width: 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.post-content-article-image:before {
    display: block;
    content: '';
    padding-top: 100%;
}

.post-content-article-image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-content-article-image img.l{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto; 
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-content-article-description {
    margin: 0 1rem;
}

.post-user-info {
    color: rgb(64, 163, 244);
    font-weight: bold;
    font-size: 1.2rem;
}

.post-user-info-span {
    color: black;
}

.post-description {
    color: rgb(192, 192, 192);
}

.post-content{
    padding: 1.5rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.post-content>p{
    word-break: break-all;
}


.post-media img {
    width: 100%;
}

/* main-article-shared-content-footer */

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-left-side-icons-container {
    flex: 0 1 50%;
}

.post-left-side-icons-container ul {
    display: flex;
    justify-content: start;
    align-items: center;
}

.post-left-side-icons-container ul li {
    list-style: none outside;
    padding: 1rem 1rem;
}

.post-right-side-icons-container {
    flex: 0 1 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.post-left-side-icons-container ul li.like-icon{
    padding-right: 0.3rem;
    border: none;
    outline: none;
}

.post-left-side-icons-container ul li.like-count{
    padding-left: 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(192, 192, 192);
}

.post-right-side-icons-container div.comment-icon {
    padding: 0 0;
}

.post-right-side-icons-container p {
    padding: 0 1rem;
    font-size: 1.2rem;
}

.post-footer .fas,
.post-footer p {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(192, 192, 192);
}

.like-button{
    border: none;
    background: none;
    outline: none;
    border: none;
}

.like-button i:hover{
    cursor: pointer;
    color: #40a3f4;
    outline:none;
    border: none;
}

/* Remove button */

#container, #create-post-button-container, #create-comment-button-container {
    position: relative;
    /* overflow: hidden; */
}

#container:hover .uiButtonGroup {
    opacity: 1;
    transition: 1.5s ease-in;
}

.fbPhotoCurationControl {
    display: inline-block;
    margin-right: 8px;
    margin-top: 7px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 7;
    opacity: 0;
}

.fbPhotoCurationControl .uiButtonGroup {
    border: none;
}
.uiButtonGroup {
    border-radius: 3px;
    display: inline-block;
    padding: 0;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, .35);
    padding: 2px 9px 4px 8px;
}

.delete-button{
    background-clip: padding-box;
    background-color: rgb(246, 84, 50);
    color:white;
}

.delete-button:hover{
    background-color: rgb(167, 28, 19);
    color:white;
}

.post-button-fbPhotoCurationControl {
    display: inline-block;
    margin-right: 8px;
    margin-top: 7px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 7;
    opacity: 1;
}



