.messagebox-container {
    background: #FFF;
    border-radius: 0.3rem;
    /* overflow: hidden; */

    /* box-shadow: 0 0 2rem 0 rgba(64, 163, 244, 0.8); */
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);

    background: greenyellow;
    /* width: 50%; */
    width: 308px;
    height: 532px;
    position: fixed;
    bottom: 0;
    right: 40px;
    z-index: 10;

    transition: height 1.5s ease-in-out;
}

.toggle {
    height: 65px;
}

/* MessageBox - Header */

.messagebox-header {
    display: flex;
    justify-content: start;
    align-items: center;
    /* margin-bottom: 1rem; */
    padding: 0.65rem 1rem;
    cursor: pointer;
}

.messagebox-chat-icon {
    position: relative;
    overflow: hidden;
}

.messagebox-chat-icon:before {
    display: block;
    content: '';
    width: 35px;
    height: 35px;
    background: rgb(224, 224, 224);
    border-radius: 50%;
}

.messagebox-chat-icon i {
    background: rgb(224, 224, 224);
    color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.chat-title {
    margin-bottom: 0.5rem;
    ;
    padding: 0 1rem;
}

/* friends-container */

.messagebox-friend-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    cursor: pointer;
}

.messagebox-friend-image {
    width: 2.8rem;
    /* width: 12%; */
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    /* width: 32px;
    height: 32px; */
}

.messagebox-friend-image:before {
    display: block;
    content: '';
    padding-top: 100%;
}

.messagebox-friend-image img {
    display: block;
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messagebox-friend-image img.l {
    display: block;
    position: absolute;
    /* top: 0;
    left: 0; */
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messagebox-username-container {
    margin: 0 1rem;
}

.messagebox-username {
    color: #40a3f4;
    /* font-weight: bold; */
    /* font-size: 1.2rem; */
    /* 
    font-size: 12px;
    line-height: 16px */
}

/* Chat Css */

.chat-container {
    background: #FFF;
    border-radius: 0.3rem;


    /* box-shadow: 0 0 2rem 0 rgba(64, 163, 244, 0.8); */
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);

    background: orange;
    /* width: 50%; */
    width: 425px;
    height: 532px;
    /* max-height: 532px; */
    position: fixed;
    /* bottom: 40px; */
    bottom: 0;
    right: 368px;
    z-index: 10;
    /* position: relative; */

    transition: height 1.5s ease-in-out;

    cursor: pointer;
}

.toggle-chat-container {
    height: 65px;
}

.display-none {
    display: none;
}

.chat-friend-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: auto;
    background: greenyellow;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.chat-friend-image {
    width: 2.8rem;
    /* width: 12%; */
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    /* width: 32px;
    height: 32px; */
}

.chat-friend-image:before {
    display: block;
    content: '';
    padding-top: 100%;
}

.chat-friend-image img {
    display: block;
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-friend-image img.l {
    display: block;
    position: absolute;
    /* top: 0;
    left: 0; */
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-username-container {
    margin: 0 1rem;
}

.chat-username {
    color: #40a3f4;
    font-weight: bold;
    /* font-size: 1.2rem; */
    /* 
    font-size: 12px;
    line-height: 16px */
}

/* ##################################### */
/* chat - content-wrapper */

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 468px;
}


/* .content-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    position:relative;
    overflow-x: hidden;
   z-index: 2; 
}  */




/* ##################################### */
/* chat - content */

.chat-content {
    /* display: flex;
    flex-direction: column; */
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    /* z-index: 2; */
}

/* .chat-content{
    display: flex;
    flex-direction: column;
    height: 420px;
    min-height: 200px;
    position: relative;
    overflow: auto;
     max-height: 340px; 
  
} */



/* ##################################### */
/* chat - textarea */



.chat-footer {
    background: #fff;
    /* min-height: 32px; */
    position: relative;
    /* z-index: 3; */
}

/* .chat-footer {
    background: blueviolet;
    width: 100%;
    position: relative; */
/* position: absolute;
    bottom: 15px; */
/* } */


.chat-area-container {
    width: 100%;
    position: relative;
    background: red;
}



.chat-textarea {
    /* position: absolute; */
    /* bottom: 0px; */
    overflow: hidden;
    border: none;
    outline: none;
    resize: none;
    width: 85%;
    margin-left: 1rem;
    padding: 0.8rem 0.3rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#chat-textarea-form-group {
    margin-bottom: 0rem;
    /* margin-top: 3.1rem; */
}

.send-btn {
    position: absolute;
    bottom: 15px;
    right: 0;
}