.messagebox-navbar-container {
    /* background: #FFF; */
    border-radius: 0.3rem;
    /* overflow: hidden; */
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    background: white;
    width: 500px;
    /* height: 532px; */
    /* position: fixed; */
    /* bottom: 0; */
    /* right: 40px; */
    /* z-index: 10; */
    /* transition: height 1.5s ease-in-out; */
}

.toggle {
    height: 65px;
}


/* ##################################### */
/* friends-container */

.messagebox-navbar-friend-container {
    display: flex;
    justify-content: start;
    align-items: center;
    /* width: 100%; */
    width: 100%;
    height: auto;
    margin: auto;
    background: white;
    border-radius: 5px;
    /* box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3); */
    padding: 0.5rem;
    cursor: pointer;
    color: #40a3f4;
    border: 1px solid #fff;
}

.messagebox-navbar-friend-container:hover {
    background: #40a3f4;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .3);
}

.messagebox-navbar-friend-image {
    width: 2.9rem;
    /* width: 12%; */
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.messagebox-navbar-friend-image:before {
    display: block;
    content: '';
    padding-top: 100%;
}

.messagebox-navbar-friend-image img {
    display: block;
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messagebox-navbar-friend-image img.l {
    display: block;
    position: absolute;
    /* top: 0;
    left: 0; */
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messagebox-navbar-username-container {
    margin: 0 1rem;
    width: 100%
}

.messagebox-navbar-username {
    font-weight: bold;
}

.message-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.message-navbar-time {
    color: rgb(192, 192, 192);
}

.message-navbar-content {
    color: black;
    word-break: break-all;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    margin-top: 0.3em;
}