.button-navbar-outline{
    color:rgb(192, 192, 192);
    border-color: rgb(192, 192, 192);;
    background: #3b5998;
}

.button-navbar-outline:hover{
    color:white;
    background: #40a3f4;
    border-color: white;
}