html {
	font: var(--font-size-initial, 12px)/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media screen and (min-width: 500px) {
	html { font-size: var(--font-size-lv2, 14px); }
}

@media screen and (min-width: 700px) {
	html { font-size: var(--font-size-lv3, 16px); }
}

@media screen and (min-width: 1600px) {
	html { font-size: var(--font-size-lv4, 18px); }
}

body, table, th, td, form, input, textarea, option, select {
	font: inherit;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	padding-bottom: 0.5em;
}

$headings: (h1: 2.441em, h2: 1.953em, h3: 1.563em, h5: 1em, h6: 1em);

/* @each $heading, $size in $headings {
	#{$heading} { font-size: $size; }
} */

h5, h6 { font-weight: bold; }

ol {
	padding-bottom: 1.5em;
}

ol {
	padding-left: 2em;
}

li {
	list-style-position: inside;
}

a {
	text-decoration: none;
	color: rgb(192, 192, 192);
}

a:hover {
	color: white;
}

