:root {
	--font-size-initial: 12px;
	--font-size-lv2: 14px;
	--font-size-lv3: 16px;
	--font-size-lv4: 18px;
	--spacing-site: 2rem;
	--color-text-main: #000;
	--default-box-shadow: 0 0 14px 1px rgba(0,0,0,.4);
	--blue-box-shadow: 0px 0px 12px 2px  rgba(64, 163, 244, 0.8);
}
