.gallery-article-intro {
    display: flex;
    justify-content: space-between;
    text-align: center ;
    margin-bottom: 1rem;
}

.gallery-button-container{
    margin-bottom: 1rem;
}

.gallery-aside-article-header{
    display: flex;
    justify-content: start;
    align-items: center;
}

.gallery-aside-article-header > h3{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0.8rem;
}

#fileUpload{
    display: none;
}

label#upload{
    margin-bottom: 0;
}


.cursor-pointer{
    cursor: pointer;
}

.username-gallery{
    color:#40a3f4;
}

#container {
    overflow: hidden
}

#container:hover .uiButtonGroup {
    opacity: 1;
    transition: 1s ease-in;
}

.fbPhotoCurationControl {
    display: inline-block;
    margin-right: 8px;
    margin-top: 7px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 7;
    opacity: 0;
}

.fbPhotoCurationControl .uiButtonGroup {
    border: none;
}
.uiButtonGroup {
    border-radius: 3px;
    display: inline-block;
    padding: 0;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, .35);
    padding: 2px 9px 4px 8px;
}

.delete-button{
    background-clip: padding-box;
    background-color: rgb(241, 75, 75);
    color:white;
}

