
.tooltipCustom {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted white; */
  }
  
  .tooltipCustom .tooltiptextCustom {
    visibility: hidden;
    width: 120px;
    background-color:  #40a3f4;
    color: #fff;
    text-align: center;
    border: 1px solid white;
    border-radius: 6px;
    padding: 5px 5px 8px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltipCustom .tooltiptextCustom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .tooltipCustom:hover .tooltiptextCustom {
    visibility: visible;
  }