.tooltipCustom {
  position: relative;
  display: inline-block;
}

.tooltipCustom .tooltiptextCustom {
  visibility: hidden;
  width: 120px;
  /* max-width: 300px; */
  /* white-space: nowrap; */
  background-color: #40a3f4;
  color: #fff;
  text-align: center;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px 5px 8px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

/* .tooltiptextCustomNew {
  width: 160px;
  margin-left: -80px;
} */

.tooltipCustom .tooltiptextCustom::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltipCustom:hover .tooltiptextCustom {
  visibility: visible;
}

#friend-requests-tooltip{
  top: 125%;
}